{% extends 'base.html' %}

{% block title %}
    {% if title %}
        {{ title }}
    {% else %}
        about us
    {% endif %}

{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>About Us</h1>

            <p>This is about us page of Danamon Site !This is about us page of Danamon Site !This is about us page of
                Danamon Site !This is about us page of Danamon Site !This is about us page of Danamon Site !This is
                about us page of Danamon Site !This is about us page of Danamon Site !</p>

            <p>This is about us page of Danamon Site !This is about us page of Danamon Site !This is about us page of
                Danamon Site !This is about us page of Danamon Site !This is about us page of Danamon Site !This is
                about us page of Danamon Site !This is about us page of Danamon Site !</p>

            <p>This is about us page of Danamon Site !This is about us page of Danamon Site !This is about us page of
                Danamon Site !This is about us page of Danamon Site !This is about us page of Danamon Site !This is
                about us page of Danamon Site !This is about us page of Danamon Site !</p>

            <p>This is about us page of Danamon Site !This is about us page of Danamon Site !This is about us page of
                Danamon Site !This is about us page of Danamon Site !This is about us page of Danamon Site !This is
                about us page of Danamon Site !This is about us page of Danamon Site !</p>


        </div>

    </div>

{% endblock %}